
@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

*{
    font-family: 'inter', sans-serif;
}

@keyframes fadeBackground {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

body::after {
    animation: fadeBackground 4s ease-in-out;
}

body > * {
    animation: fadeIn 2s ease-in-out 2s forwards; /* La animación comenzará después de 2 segundos y mantendrá el último keyframe */
    visibility: hidden; /* Los elementos estarán ocultos hasta que comience la animación */
}

.colombia-container {
    animation: fadeIn 2s ease-in-out 2s forwards; /* La animación comenzará después de 2 segundos y mantendrá el último keyframe */
}

body::after {
    content: "";
    background-image: url('img/Letras\ imposur.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;   
}


.colombia-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colombia-container img:first-child {
    position: relative;
    z-index: 1;
    width: 82%;
    height: auto;
}

.colombia-container img {
    width: 80%;
    height: auto;
}

.colombia-container a img {
    transition: transform 0.3s ease-in-out;
}

.colombia-container a:hover img {
    transform: scale(1.2);
}

.inicio, .nosotros, .infraestructura, .productos, .contactos {
    position: absolute;
    z-index: 4;
    background-color: #91B635;
    color: #ffffff;
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    width: 21%;
    height: 7%;
}

.inicio:hover, .nosotros:hover, .infraestructura:hover, .productos:hover, .contactos:hover {
    background-color: #29A4DA; /* Cambia el color de fondo del botón cuando se pasa el mouse por encima */
    color: #f8f9fa; /* Cambia el color del texto del botón cuando se pasa el mouse por encima */
}

.inicio {
    top: 50%;
    left: 54.7%;
}

.nosotros {
    top: 58%;
    left: 54.7%;
}

.infraestructura {
    top: 66%;
    left: 54.7%;
}

.productos {
    top: 74%;
    left: 54.7%;
}

.contactos {
    top: 82%;
    left: 54.7%;
}


#barranquilla-icon {
    position: absolute;
    top: 7.3%;
    left: 17%;
    width: 8%;
    height: auto;
    z-index: 2;
}

#cali-icon {
    position: absolute;
    top: 47%;
    left: 13.8%;
    width: 8%;
    height: auto;
    z-index: 2;
}

#medellin-icon {
    position: absolute;
    top: 30.6%;
    left: 15.99%;
    width: 8%;
    height: auto;
    z-index: 2;
}

#pereira-icon {
    position: absolute;
    top: 38.5%;
    left: 14.4%;
    width: 8%;
    height: auto;
    z-index: 2;
}

#bucaramanga-icon{
    position: absolute;
    top: 28.4%;
    left: 21.3%;
    width: 8%;
    height: auto;
    z-index: 2;
}

footer {
    background-color: #22b8f0;
    color: #fff;
    text-align: center;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

